OPENAI_API_KEY=
REPLICATE_API_TOKEN=
DATABASE_URL="file:./dev.db"
# please keep for API consistence
REPLICATE_IMAGE_MODEL_ID="fofr/realvisxl-v3:33279060bbbb8858700eb2146350a98d96ef334fcf817f37eb05915e1534aa1c"
REPLICATE_VIDEO_MODEL_ID="bytedance/seedance-1-pro"

# This was inserted by `prisma init`:
[object Promise]